[tool.poetry]
name = "discord-dingomata"
version = "0.1.0"
description = "Distribute game codes on Discord at random to people."
authors = ["SnazzyFox <12706268+snazzyfox@users.noreply.github.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"  # Required for random.sample with weights
pydantic = { extras = ["dotenv"], version = "^1.8.2" }
PyYAML = "^5.4.1"
pytz = "^2021.1"
prettytable = "^2.2.0"
aiohttp = "^3.7.4"
parsedatetime = "^2.6"
Unidecode = "^1.3.2"
py-cord = { version = "2.0.0b7", extras = ["speed"] }
tortoise-orm = { extras = ["asyncpg"], version = "^0.18.1" }
toml = "^0.10.2"
orjson = "^3.6.6"

[tool.poetry.dev-dependencies]
pre-commit = "^2.17.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.mypy]
plugins = ["pydantic.mypy"]